image-dehazer
protobuf
typing-extensions
tensorflow
retinaface
numpy
cmake
dlib-bin==19.22.0
streamlit
Pillow==8.4.0
cvzone
face_recognition @ git+https://github.com/thetoby9944/face_recognition
pytz
